#footer {
  font-family: $default_font;
  background-color: $black;
  padding: 60px 50px 50px 50px;
  margin-top: 30px;
  overflow: hidden;
  @media (max-width: 748px) {
    padding: 20px;
  }
  .contact_footer {
    padding-bottom: 20px;
    &__head {
      padding-top: 40px;
      @media (max-width: 748px) {
      }
      &__title {
        button {
          @extend %heading_brown_btn;
        }
      }
      h3 {
        margin-top: 20px;
        font-size: 48px;
        font-weight: 600;
        color: $secondary_color;
        letter-spacing: -0.3px;
        @media (max-width: 748px) {
          font-size: 32px;
        }
      }
    }
    &__form {
      @include Flexible(flex-start, start, column, nowrap, 32px);
      padding: 30px 20px 20px 0;
      input {
        border: none;
        background: none;
        outline: none;
        border-bottom: 1px solid #fff6;
        padding: 0 0 12px;
        width: 100%;
        height: 38px;
      }
    }
    &__btn {
      margin-top: 20px;
      button {
        @extend %light_btn;
      }
    }
  }
  .contact_footer_image {
    img {
      @extend %base_img;
    }
    @media (max-width: 748px) {
      margin-top: 20px;
    }
  }
  .footer_bottom {
    padding-top: 30px;
    &__left {
      ul {
        li {
          p {
            letter-spacing: -0.1px;
            font-size: 14px;
            line-height: 150%;
            color: #ffffff;
            margin-top: 20px;
          }
          button {
            @extend %white_btn;
            background-color: #0000;
            border: 1px solid #e0e0e066;
            color: #ffffff;
            text-transform: capitalize;
            padding: 16px 28px;
            margin-top: 30px;
          }
        }
      }
    }
  }
  .footer_list {
    padding-top: 35px;
    padding-left: 20px;
    h4 {
      color: #ffffff;
      letter-spacing: 0;
      font-size: 24px;
    }
    ul {
      margin-top: 20px;
      li {
        line-height: 35px;
        a {
          color: #ffffff;
          letter-spacing: -0.01em;
          font-size: 14px;
          text-decoration: none;
        }
      }
    }
  }
  .copyright {
    margin-top: 20px;
    border-top: 1px solid #3b3436;
    h3 {
      margin-top: 20px;
      color: #999;
      text-align: center;
      font-size: 16px;
    }
  }
}
