#properties_banner {
  font-family: $default_font;
  margin-top: 60px;
  overflow: hidden;
  .banner_header {
    button {
      @extend %heading_btn;
      i {
        font-size: 20px;
        @media (max-width: 748px) {
          font-size: 16px;
        }
      }
    }
  }
  .banner_title {
    margin-top: 10px;
    h1 {
      font-size: 200px;
      text-transform: uppercase;
      font-weight: 600;
      color: $primary_color;
      letter-spacing: -0.08em;
      @media (max-width: 748px) {
        font-size: 60px;
      }
    }
  }
}

#all_properties {
  font-family: $default_font;
  .propertie_card {
    margin-top: 30px;
    width: 380px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    &__top {
      &__img {
        transition: 0.5s ease-in-out;
        a {
          img {
            @extend %base_img;
            border-radius: 20px;
            transition: all 0.5s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
    &__body {
      position: relative;
      color: $primary_color;
      &__tag {
        position: absolute;
        bottom: 360px;
        left: 20px;
        @include Flexible(space-between, center, row, nowrap, 170px);
        span {
          font-size: 14px;
          background-color: #ffffff;
          padding: 0 12px;
          text-transform: capitalize;
          font-weight: 500;
          border-radius: 20px;
        }
      }
      p {
        margin-top: 10px;
        font-size: 24px;
        text-transform: capitalize;
      }
      span {
        font-size: 14px;
        line-height: 28px;
        color: #14161c;
        i {
          font-size: 18px;
        }
      }
      ul {
        @include Flexible(flex-start, start, row, nowrap, 5px);
        padding-top: 5px;
        li {
          font-size: 14px;
          font-weight: 500;
          border: 1px solid #efefef;
          padding: 10px 16px;
          border-radius: 6px;
          i {
            font-size: 16px;
          }
        }
      }
    }
  }
  .explore_btn {
    @include Flexible(center, center, row, nowrap, 0);
    a {
      @extend %black_btn;
    }
  }
}
