#product {
  font-family: $default_font;
  padding-top: 30px;
  .product_title {
    padding-top: 50px;
    h3 {
      letter-spacing: -0.05em;
      font-size: 60px;
      font-weight: 600;
      color: $primary_color;
      @media (max-width: 748px) {
        font-size: 42px;
      }
    }
    p {
      font-size: 16px;
      color: $body_color;
      margin-top: 20px;
    }
  }
  .product_img {
    padding-top: 30px;
    img {
      border-radius: 28px;
      height: auto;
      @extend %base_img;
    }
  }
}

#product_content {
  font-family: $default_font;
  padding: 30px 0 30px 0;

  .product_about {
    width: 80%;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 45px;
    @media (max-width: 748px) {
      width: 100%;
    }
    &__title {
      padding-bottom: 20px;
      h3 {
        font-size: 36px;
        letter-spacing: -0.03em;
        color: $primary_color;
        font-weight: 600;
      }
    }
    &__info {
      padding-bottom: 25px;
      ul {
        @include Flexible(flex-start, start, row, nowrap, 5px);
        padding-top: 5px;
        li {
          font-size: 14px;
          font-weight: 500;
          border: 1px solid #efefef;
          padding: 10px 16px;
          border-radius: 6px;
          background-color: #f7f7f7;
          i {
            font-size: 16px;
          }
        }
      }
    }
    &__text {
      p {
        font-size: 16px;
        line-height: 24px;
        color: $body_color;
      }
    }
  }
  .product_details {
    width: 80%;
    @media (max-width: 748px) {
      width: 100%;
    }
    &__title {
      padding: 40px 0 20px 0;
      h3 {
        font-size: 36px;
        letter-spacing: -0.03em;
        color: $primary_color;
        font-weight: 600;
      }
    }
    &__text {
      p {
        font-size: 16px;
        line-height: 24px;
        color: $body_color;
        padding: 10px 0 10px 0;
      }
      ul {
        padding-left: 20px;
        li {
          font-size: 16px;
          line-height: 24px;
          color: $body_color;
          list-style: inside;
        }
      }
    }
  }
  .product_amenities {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 10px;
    &__list {
      background-color: #f7f7f7;
      border: 1px solid #e8e8e8;
      border-radius: 16px;
      padding: 28px 20px 24px;
      width: 150px;
      height: 130px;
      i {
        color: $primary_color;
        font-weight: 500;
        font-size: 18px;
      }
      p {
        color: $primary_color;
        font-weight: 600;
        font-size: 16px;
        padding-top: 40px;
      }
    }
    &__title {
      h3 {
        font-size: 36px;
        letter-spacing: -0.03em;
        color: $primary_color;
        font-weight: 600;
        padding: 30px 0 40px 0;
      }
    }
  }
  .product_gallery_title {
    h3 {
      font-size: 36px;
      letter-spacing: -0.03em;
      color: $primary_color;
      font-weight: 600;
      padding: 30px 0 40px 0;
    }
  }
  .product_gallery {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 10px;

    &__img {
      img {
        width: 150px;
        height: 130px;
        @extend %base_img;
        border-radius: 18px;
      }
    }
  }
  .card_box {
    width: 100%;
    max-width: 450px;
    padding: 40px;
    background-color: $secondary_color;
    border-radius: 28px;
    border: 1px solid #e8e8e8;
    @media (max-width: 748px) {
      margin-top: 30px;
    }
    .form_card_box {
      .product_price {
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 30px;
        &__title {
          p {
            font-size: 18px;
            font-weight: 400;
            color: $primary_color;
            margin-bottom: 20px;
          }
          h3 {
            font-size: 36px;
            color: $primary_color;
            font-weight: 600;
            margin-bottom: 30px;
          }
        }
        &__btn {
          button {
            border: none;
            border-radius: 12px;
            width: 100%;
            height: 48px;
            margin-bottom: 0;
            padding: 13px 20px 14px;
            outline-color: $primary_color;
            font-size: 16px;
            background-color: $primary_color;
            color: $secondary_color;
            font-weight: 600;
          }
        }
      }
      .title {
        padding: 30px 0 20px 0;
        h4 {
          font-size: 18px;
          color: $primary_color;
          font-weight: 500;
        }
      }
      .user_details {
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 40px;
        .input-box {
          margin: 10px 0 10px 0;
          width: 100%;
          input {
            border: 1px solid #e8e8e8;
            border-radius: 12px;
            width: 100%;
            height: 48px;
            margin-bottom: 0;
            padding: 13px 20px 14px;
            outline-color: $primary_color;
            font-size: 14px;
            color: $primary_color;
          }
          label {
            color: gray;
            margin-bottom: 8px;
            font-size: 14px;
            font-weight: 500;
          }
        }
        .request-box {
          padding-top: 20px;
          button {
            border: none;
            border-radius: 12px;
            width: 100%;
            height: 48px;
            margin-bottom: 0;
            padding: 13px 20px 14px;
            outline-color: $primary_color;
            font-size: 16px;
            background-color: #e1e1e1;
            color: $primary_color;
            font-weight: 500;
          }
        }
      }
      .agent_representative {
        margin-top: 20px;
        &__title {
          h4 {
            font-size: 18px;
            font-weight: 500;
            color: $primary_color;
          }
        }
        &__info {
          @include Flexible(flex-start, center, row, nowrap, 20px);

          &__img {
            position: relative;
            margin-top: 25px;
            width: 82px;
            height: 82px;

            img {
              border-radius: 100%;
              @extend %base_img;
            }
            &__status {
              position: absolute !important;
              background-color: #33b843;
              border: 2px solid #fff;
              border-radius: 100%;
              width: 14px;
              height: 14px;
              top: 7%;
              right: 77%;
            }
          }
          &__contact {
            padding-top: 20px;
            h3 {
              font-size: 20px;
              font-weight: 500;
              color: $primary_color;
              margin-bottom: 10px;
            }
            p {
              margin-top: 6px;
              font-size: 14px;
              font-weight: 500;
              color: #666;
            }
          }
        }
      }
    }
  }
}

#browse_properties {
  font-family: $default_font;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 40px;
  .browse_properties_title {
    margin-top: 20px;
    h3 {
      font-size: 48px;
      font-weight: 600;
      color: $primary_color;
      letter-spacing: -0.3px;
      line-height: 112%;
    }
  }
  .propertie_card {
    margin-top: 30px;
    width: 380px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    &__top {
      &__img {
        transition: 0.5s ease-in-out;
        a {
          img {
            @extend %base_img;
            border-radius: 20px;
            transition: all 0.5s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
    &__body {
      position: relative;
      color: $primary_color;
      &__tag {
        position: absolute;
        bottom: 360px;
        left: 20px;
        @include Flexible(space-between, center, row, nowrap, 170px);
        span {
          font-size: 14px;
          background-color: #ffffff;
          padding: 0 12px;
          text-transform: capitalize;
          font-weight: 500;
          border-radius: 20px;
        }
      }
      p {
        margin-top: 10px;
        font-size: 24px;
        text-transform: capitalize;
      }
      span {
        font-size: 14px;
        line-height: 28px;
        color: #14161c;
        i {
          font-size: 18px;
        }
      }
      ul {
        @include Flexible(flex-start, start, row, nowrap, 5px);
        padding-top: 5px;
        li {
          font-size: 14px;
          font-weight: 500;
          border: 1px solid #efefef;
          padding: 10px 16px;
          border-radius: 6px;
          i {
            font-size: 16px;
          }
        }
      }
    }
  }
}
