#choose_us {
  font-family: $default_font;
  margin-top: 80px;
  .choose_body {
    width: 540px;
    height: 450px;

    @media (max-width: 748px) {
      padding: 10px;
    }
    @media (max-width: 748px) {
      width: 340px;
      height: 250px;
    }
    .choose_heading {
      margin: 20px 0 20px 0;
      button {
        @extend %heading_btn;
        font-weight: 400;
        font-size: 14px;
      }
    }
    .choose_title {
      margin-bottom: 100px;
      @media (max-width: 748px) {
        margin-bottom: 20px;
      }
      h3 {
        font-size: 48px;
        color: $primary_color;
        font-weight: 600;
        @media (max-width: 748px) {
          font-size: 32px;
        }
      }
    }
    .choose_content {
      p {
        font-size: 14px;
        color: #333333;
        letter-spacing: -0.1px;
        line-height: 22px;
        font-weight: 400;
      }
    }
    .choose_btn {
      margin-top: 20px;
      a {
        @extend %black_btn;
      }
    }
  }
  .choose_img {
    padding: 40px;
    @media (max-width: 748px) {
      padding: 10px;
    }
    img {
      width: 540px;
      height: 450px;
      border-radius: 20px;
      @extend %base_img;
      @media (max-width: 748px) {
        width: 340px;
        height: 250px;
      }
    }
  }
}
