@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#choose_us .choose_img img, #property_categories .property_categories__card__top__img img, #about_us .about_img img, #featured_properties .propertie_card__top__img a img, #banner .banner_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#choose_us .choose_body .choose_btn a, #about_us .about_body .about_btn a, #featured_properties .explore_btn a, #header .explore_btn a {
  display: inline-block;
  position: relative;
  background-color: black;
  color: #ffffff;
  padding: 16px 30px;
  font-size: 16px;
  border-radius: 12px;
  font-weight: 500;
  text-decoration: none;
  overflow: hidden;
}
#choose_us .choose_body .choose_btn a::before, #about_us .about_body .about_btn a::before, #featured_properties .explore_btn a::before, #header .explore_btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #333;
  z-index: 1;
  transition: 0.2s ease-in-out;
}
#choose_us .choose_body .choose_btn a span, #about_us .about_body .about_btn a span, #featured_properties .explore_btn a span, #header .explore_btn a span {
  position: relative;
  z-index: 1;
}
#choose_us .choose_body .choose_btn a:hover, #about_us .about_body .about_btn a:hover, #featured_properties .explore_btn a:hover, #header .explore_btn a:hover {
  color: #ffffff;
}
#choose_us .choose_body .choose_btn a:hover::before, #about_us .about_body .about_btn a:hover::before, #featured_properties .explore_btn a:hover::before, #header .explore_btn a:hover::before {
  width: 100%;
}

#choose_us .choose_body .choose_heading button, #property_categories .property_categories_header button, #about_us .about_body .about_heading button, #featured_properties .featured_properties_header button, #banner .banner_header button {
  background-color: #f7f7f7;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333333;
  padding: 8px 18px 8px 16px;
  border: 2px solid #e8e8e8;
  border-radius: 35px;
}
@media (max-width: 748px) {
  #choose_us .choose_body .choose_heading button, #property_categories .property_categories_header button, #about_us .about_body .about_heading button, #featured_properties .featured_properties_header button, #banner .banner_header button {
    font-size: 12px;
    padding: 6px 16px 6px 14px;
  }
}

#property_categories .property_categories__card__body__btn a {
  text-decoration: none;
  font-size: 14px;
  color: #0c0407;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #efefef;
  font-weight: 500;
}

#header {
  font-family: "Inter", sans-serif;
  margin-top: 20px;
}
@media (max-width: 948px) {
  #header {
    display: none;
  }
}
#header .nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
}
#header .nav_list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
}
#header .nav_list ul li a {
  color: #0c0407;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
}
#header .nav_list ul li a i {
  font-size: 18px;
  font-weight: 400;
  transition: transform 0.3s ease-in-out;
}
#header .nav_list ul .page_menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}
#header .nav_list ul .page_menu .dropdown_menu {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.0392156863);
  border: 1px solid #f7f7f7;
  border-radius: 6px;
  top: 50px;
  left: 3px;
  width: 120px;
  padding: 10px 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background-color: white;
  z-index: 999;
}
#header .nav_list ul .page_menu .dropdown_menu li {
  padding: 10px;
}
#header .nav_list ul .page_menu .dropdown_menu li a {
  font-size: 14px;
}
#header .nav_list ul .page_menu .dropdown_menu li:hover {
  background-color: #f2f2f2;
  padding: 10px 20px;
  border-radius: 6px;
}
#header .nav_list ul .page_menu:hover .dropdown_menu {
  opacity: 1;
  visibility: visible;
  top: 30px;
}
#header .nav_list ul .page_menu:hover .ri-arrow-down-s-line {
  transform: rotate(180deg);
}
#banner {
  font-family: "Inter", sans-serif;
  margin-top: 60px;
}
#banner .banner_header button i {
  font-size: 20px;
}
@media (max-width: 748px) {
  #banner .banner_header button i {
    font-size: 16px;
  }
}
#banner .banner_title {
  margin-top: 10px;
}
#banner .banner_title h1 {
  font-size: 200px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0c0407;
  letter-spacing: -0.08em;
}
@media (max-width: 748px) {
  #banner .banner_title h1 {
    font-size: 60px;
  }
}
#banner .banner_img {
  margin-top: 10px;
}
#featured_properties {
  font-family: "Inter", sans-serif;
  margin-top: 50px;
  padding-top: 30px;
}
#featured_properties .featured_properties_header button {
  font-weight: 400;
  font-size: 14px;
}
#featured_properties .featured_properties_title {
  margin-top: 20px;
}
#featured_properties .featured_properties_title h3 {
  font-size: 48px;
  font-weight: 600;
  color: #0c0407;
  letter-spacing: -0.3px;
  line-height: 112%;
}
#featured_properties .propertie_card {
  margin-top: 30px;
  width: 380px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}
#featured_properties .propertie_card__top__img {
  transition: 0.5s ease-in-out;
}
#featured_properties .propertie_card__top__img a img {
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
#featured_properties .propertie_card__top__img a img:hover {
  transform: scale(1.1);
}
#featured_properties .propertie_card__body {
  position: relative;
  color: #0c0407;
}
#featured_properties .propertie_card__body__tag {
  position: absolute;
  bottom: 360px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 170px;
}
#featured_properties .propertie_card__body__tag span {
  font-size: 14px;
  background-color: #ffffff;
  padding: 0 12px;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 20px;
}
#featured_properties .propertie_card__body p {
  margin-top: 10px;
  font-size: 24px;
  text-transform: capitalize;
}
#featured_properties .propertie_card__body span {
  font-size: 14px;
  line-height: 28px;
  color: #14161c;
}
#featured_properties .propertie_card__body span i {
  font-size: 18px;
}
#featured_properties .propertie_card__body ul {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  padding-top: 5px;
}
#featured_properties .propertie_card__body ul li {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #efefef;
  padding: 10px 16px;
  border-radius: 6px;
}
#featured_properties .propertie_card__body ul li i {
  font-size: 16px;
}
#featured_properties .explore_btn {
  margin-top: 50px;
}
#about_us {
  font-family: "Inter", sans-serif;
  margin-top: 80px;
}
#about_us .about_body {
  width: 540px;
  height: 450px;
}
@media (max-width: 748px) {
  #about_us .about_body {
    padding: 20px;
  }
}
@media (max-width: 748px) {
  #about_us .about_body {
    width: 340px;
    height: 250px;
  }
}
#about_us .about_body .about_heading {
  margin: 20px 0 20px 0;
}
#about_us .about_body .about_heading button {
  font-weight: 400;
  font-size: 14px;
}
#about_us .about_body .about_title {
  margin-bottom: 100px;
}
@media (max-width: 748px) {
  #about_us .about_body .about_title {
    margin-bottom: 20px;
  }
}
#about_us .about_body .about_title h3 {
  font-size: 48px;
  color: #0c0407;
  font-weight: 600;
}
@media (max-width: 748px) {
  #about_us .about_body .about_title h3 {
    font-size: 32px;
  }
}
#about_us .about_body .about_content p {
  font-size: 14px;
  color: #333333;
  letter-spacing: -0.1px;
  line-height: 22px;
  font-weight: 400;
}
#about_us .about_body .about_btn {
  margin-top: 20px;
}
#about_us .about_img {
  padding: 40px;
}
@media (max-width: 748px) {
  #about_us .about_img {
    padding: 20px;
  }
}
#about_us .about_img img {
  width: 540px;
  height: 450px;
  border-radius: 20px;
}
@media (max-width: 748px) {
  #about_us .about_img img {
    width: 340px;
    height: 250px;
    margin-top: 100px;
  }
}

#property_categories {
  font-family: "Inter", sans-serif;
  margin-top: 50px;
  padding-top: 30px;
}
#property_categories .property_categories_header button {
  font-weight: 400;
  font-size: 14px;
}
#property_categories .property_categories_title {
  margin-top: 20px;
}
#property_categories .property_categories_title h3 {
  font-size: 48px;
  font-weight: 600;
  color: #0c0407;
  letter-spacing: -0.3px;
}
@media (max-width: 748px) {
  #property_categories .property_categories_title h3 {
    font-size: 32px;
  }
}
#property_categories .property_categories__card {
  margin-top: 50px;
  width: 380px;
  height: 450px;
  overflow: hidden;
}
#property_categories .property_categories__card__top {
  overflow: hidden;
  border-radius: 20px;
}
#property_categories .property_categories__card__top__img {
  transition: 0.5s ease-in-out;
}
#property_categories .property_categories__card__top__img img {
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
#property_categories .property_categories__card:hover img {
  transform: scale(1.1);
}
#property_categories .property_categories__card__body__text {
  color: #0c0407;
}
#property_categories .property_categories__card__body__text h4 {
  margin-top: 10px;
  font-size: 24px;
}
#property_categories .property_categories__card__body__text p {
  margin-top: 10px;
  letter-spacing: -0.1px;
  font-size: 14px;
  color: #333333;
  line-height: 18px;
}
#property_categories .property_categories__card__body__btn {
  padding: 30px 0;
}
#choose_us {
  font-family: "Inter", sans-serif;
  margin-top: 80px;
}
#choose_us .choose_body {
  width: 540px;
  height: 450px;
}
@media (max-width: 748px) {
  #choose_us .choose_body {
    padding: 10px;
  }
}
@media (max-width: 748px) {
  #choose_us .choose_body {
    width: 340px;
    height: 250px;
  }
}
#choose_us .choose_body .choose_heading {
  margin: 20px 0 20px 0;
}
#choose_us .choose_body .choose_heading button {
  font-weight: 400;
  font-size: 14px;
}
#choose_us .choose_body .choose_title {
  margin-bottom: 100px;
}
@media (max-width: 748px) {
  #choose_us .choose_body .choose_title {
    margin-bottom: 20px;
  }
}
#choose_us .choose_body .choose_title h3 {
  font-size: 48px;
  color: #0c0407;
  font-weight: 600;
}
@media (max-width: 748px) {
  #choose_us .choose_body .choose_title h3 {
    font-size: 32px;
  }
}
#choose_us .choose_body .choose_content p {
  font-size: 14px;
  color: #333333;
  letter-spacing: -0.1px;
  line-height: 22px;
  font-weight: 400;
}
#choose_us .choose_body .choose_btn {
  margin-top: 20px;
}
#choose_us .choose_img {
  padding: 40px;
}
@media (max-width: 748px) {
  #choose_us .choose_img {
    padding: 10px;
  }
}
#choose_us .choose_img img {
  width: 540px;
  height: 450px;
  border-radius: 20px;
}
@media (max-width: 748px) {
  #choose_us .choose_img img {
    width: 340px;
    height: 250px;
  }
}/*# sourceMappingURL=style.css.map */