@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#our_mission .our_mission_img img, #about_banner .about_banner_img img, #footer .contact_footer_image img, #articles .articles__cards__top__img img, #testimonials .testimonials_cards .testimonial__card__img img, #our_process .our_process_img img, #choose_us .choose_img img, #property_categories .property_categories__card__top__img img, #about_us .about_img img, #featured_properties .propertie_card__top__img a img, #banner .banner_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#our_values .our_values_body .our_values_btn a, #our_mission .our_mission_body .our_mission_btn a, #articles .articles_head .articles_btn a, #statistics .statistics_body .statistics_btn a, #choose_us .choose_body .choose_btn a, #about_us .about_body .about_btn a, #featured_properties .explore_btn a, #header .explore_btn a {
  display: inline-block;
  position: relative;
  background-color: black;
  color: #ffffff;
  padding: 16px 30px;
  font-size: 16px;
  border-radius: 12px;
  font-weight: 500;
  text-decoration: none;
  overflow: hidden;
}
#our_values .our_values_body .our_values_btn a::before, #our_mission .our_mission_body .our_mission_btn a::before, #articles .articles_head .articles_btn a::before, #statistics .statistics_body .statistics_btn a::before, #choose_us .choose_body .choose_btn a::before, #about_us .about_body .about_btn a::before, #featured_properties .explore_btn a::before, #header .explore_btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #333;
  z-index: 1;
  transition: 0.2s ease-in-out;
}
#our_values .our_values_body .our_values_btn a span, #our_mission .our_mission_body .our_mission_btn a span, #articles .articles_head .articles_btn a span, #statistics .statistics_body .statistics_btn a span, #choose_us .choose_body .choose_btn a span, #about_us .about_body .about_btn a span, #featured_properties .explore_btn a span, #header .explore_btn a span {
  position: relative;
  z-index: 1;
}
#our_values .our_values_body .our_values_btn a:hover, #our_mission .our_mission_body .our_mission_btn a:hover, #articles .articles_head .articles_btn a:hover, #statistics .statistics_body .statistics_btn a:hover, #choose_us .choose_body .choose_btn a:hover, #about_us .about_body .about_btn a:hover, #featured_properties .explore_btn a:hover, #header .explore_btn a:hover {
  color: #ffffff;
}
#our_values .our_values_body .our_values_btn a:hover::before, #our_mission .our_mission_body .our_mission_btn a:hover::before, #articles .articles_head .articles_btn a:hover::before, #statistics .statistics_body .statistics_btn a:hover::before, #choose_us .choose_body .choose_btn a:hover::before, #about_us .about_body .about_btn a:hover::before, #featured_properties .explore_btn a:hover::before, #header .explore_btn a:hover::before {
  width: 100%;
}

#our_values .our_values_body .our_values_heading button, #our_mission .our_mission_body .our_mission_heading button, #about_banner .about_banner_header button, #faq .faq_head .faq_heading button, #articles .articles_head .articles_heading button, #testimonials .testimonials_header button, #agents .agents_header button, #our_process .our_process_heading button, #our_process .our_process_header button, #statistics .statistics_body .statistics_heading button, #choose_us .choose_body .choose_heading button, #property_categories .property_categories_header button, #about_us .about_body .about_heading button, #featured_properties .featured_properties_header button, #banner .banner_header button {
  background-color: #f7f7f7;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333333;
  padding: 8px 18px 8px 16px;
  border: 2px solid #e8e8e8;
  border-radius: 35px;
}
@media (max-width: 748px) {
  #our_values .our_values_body .our_values_heading button, #our_mission .our_mission_body .our_mission_heading button, #about_banner .about_banner_header button, #faq .faq_head .faq_heading button, #articles .articles_head .articles_heading button, #testimonials .testimonials_header button, #agents .agents_header button, #our_process .our_process_heading button, #our_process .our_process_header button, #statistics .statistics_body .statistics_heading button, #choose_us .choose_body .choose_heading button, #property_categories .property_categories_header button, #about_us .about_body .about_heading button, #featured_properties .featured_properties_header button, #banner .banner_header button {
    font-size: 12px;
    padding: 6px 16px 6px 14px;
  }
}

#footer .contact_footer__head__title button {
  background-color: #241d1f;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #f7f7f7;
  padding: 8px 18px 8px 16px;
  border: 2px solid #1e1619;
  border-radius: 35px;
}
@media (max-width: 748px) {
  #footer .contact_footer__head__title button {
    font-size: 12px;
    padding: 6px 16px 6px 14px;
  }
}

#footer .footer_bottom__left ul li button, #articles .articles__cards__body__btn a, #property_categories .property_categories__card__body__btn a {
  text-decoration: none;
  font-size: 14px;
  color: #0c0407;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #efefef;
  font-weight: 500;
}

#footer .contact_footer__btn button {
  background-color: #f7f7f7;
  color: #0c0407;
  padding: 16px 30px;
  font-size: 16px;
  border-radius: 12px;
  font-weight: 500;
}

#header {
  font-family: "Inter", sans-serif;
  margin-top: 20px;
}
@media (max-width: 948px) {
  #header {
    display: none;
  }
}
#header .nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
}
#header .nav_list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
}
#header .nav_list ul li a {
  color: #0c0407;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
}
#header .nav_list ul li a i {
  font-size: 18px;
  font-weight: 400;
  transition: transform 0.3s ease-in-out;
}
#header .nav_list ul .page_menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}
#header .nav_list ul .page_menu .dropdown_menu {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.0392156863);
  border: 1px solid #f7f7f7;
  border-radius: 6px;
  top: 50px;
  left: 3px;
  width: 120px;
  padding: 10px 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background-color: white;
  z-index: 999;
}
#header .nav_list ul .page_menu .dropdown_menu li {
  padding: 10px;
}
#header .nav_list ul .page_menu .dropdown_menu li a {
  font-size: 14px;
}
#header .nav_list ul .page_menu .dropdown_menu li:hover {
  background-color: #f2f2f2;
  padding: 10px 20px;
  border-radius: 6px;
}
#header .nav_list ul .page_menu:hover .dropdown_menu {
  opacity: 1;
  visibility: visible;
  top: 30px;
}
#header .nav_list ul .page_menu:hover .ri-arrow-down-s-line {
  transform: rotate(180deg);
}
#banner {
  font-family: "Inter", sans-serif;
  margin-top: 60px;
}
#banner .banner_header button i {
  font-size: 20px;
}
@media (max-width: 748px) {
  #banner .banner_header button i {
    font-size: 16px;
  }
}
#banner .banner_title {
  margin-top: 10px;
}
#banner .banner_title h1 {
  font-size: 200px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0c0407;
  letter-spacing: -0.08em;
}
@media (max-width: 748px) {
  #banner .banner_title h1 {
    font-size: 60px;
  }
}
#banner .banner_img {
  margin-top: 10px;
}
#featured_properties {
  font-family: "Inter", sans-serif;
  margin-top: 50px;
  padding-top: 30px;
}
#featured_properties .featured_properties_header button {
  font-weight: 400;
  font-size: 14px;
}
#featured_properties .featured_properties_title {
  margin-top: 20px;
}
#featured_properties .featured_properties_title h3 {
  font-size: 48px;
  font-weight: 600;
  color: #0c0407;
  letter-spacing: -0.3px;
  line-height: 112%;
}
#featured_properties .propertie_card {
  margin-top: 30px;
  width: 380px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}
#featured_properties .propertie_card__top__img {
  transition: 0.5s ease-in-out;
}
#featured_properties .propertie_card__top__img a img {
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
#featured_properties .propertie_card__top__img a img:hover {
  transform: scale(1.1);
}
#featured_properties .propertie_card__body {
  position: relative;
  color: #0c0407;
}
#featured_properties .propertie_card__body__tag {
  position: absolute;
  bottom: 360px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 170px;
}
#featured_properties .propertie_card__body__tag span {
  font-size: 14px;
  background-color: #ffffff;
  padding: 0 12px;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 20px;
}
#featured_properties .propertie_card__body p {
  margin-top: 10px;
  font-size: 24px;
  text-transform: capitalize;
}
#featured_properties .propertie_card__body span {
  font-size: 14px;
  line-height: 28px;
  color: #14161c;
}
#featured_properties .propertie_card__body span i {
  font-size: 18px;
}
#featured_properties .propertie_card__body ul {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  padding-top: 5px;
}
#featured_properties .propertie_card__body ul li {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #efefef;
  padding: 10px 16px;
  border-radius: 6px;
}
#featured_properties .propertie_card__body ul li i {
  font-size: 16px;
}
#featured_properties .explore_btn {
  margin-top: 50px;
}
#about_us {
  font-family: "Inter", sans-serif;
  margin-top: 80px;
}
#about_us .about_body {
  width: 540px;
  height: 450px;
}
@media (max-width: 748px) {
  #about_us .about_body {
    padding: 20px;
  }
}
@media (max-width: 748px) {
  #about_us .about_body {
    width: 340px;
    height: 250px;
  }
}
#about_us .about_body .about_heading {
  margin: 20px 0 20px 0;
}
#about_us .about_body .about_heading button {
  font-weight: 400;
  font-size: 14px;
}
#about_us .about_body .about_title {
  margin-bottom: 100px;
}
@media (max-width: 748px) {
  #about_us .about_body .about_title {
    margin-bottom: 20px;
  }
}
#about_us .about_body .about_title h3 {
  font-size: 48px;
  color: #0c0407;
  font-weight: 600;
}
@media (max-width: 748px) {
  #about_us .about_body .about_title h3 {
    font-size: 32px;
  }
}
#about_us .about_body .about_content p {
  font-size: 14px;
  color: #333333;
  letter-spacing: -0.1px;
  line-height: 22px;
  font-weight: 400;
}
#about_us .about_body .about_btn {
  margin-top: 20px;
}
#about_us .about_img {
  padding: 40px;
}
@media (max-width: 748px) {
  #about_us .about_img {
    padding: 20px;
  }
}
#about_us .about_img img {
  width: 540px;
  height: 450px;
  border-radius: 20px;
}
@media (max-width: 748px) {
  #about_us .about_img img {
    width: 340px;
    height: 250px;
    margin-top: 100px;
  }
}

#property_categories {
  font-family: "Inter", sans-serif;
  margin-top: 50px;
  padding-top: 30px;
}
#property_categories .property_categories_header button {
  font-weight: 400;
  font-size: 14px;
}
#property_categories .property_categories_title {
  margin-top: 20px;
}
#property_categories .property_categories_title h3 {
  font-size: 48px;
  font-weight: 600;
  color: #0c0407;
  letter-spacing: -0.3px;
}
@media (max-width: 748px) {
  #property_categories .property_categories_title h3 {
    font-size: 32px;
  }
}
#property_categories .property_categories__card {
  margin-top: 50px;
  width: 380px;
  height: 450px;
  cursor: pointer;
  overflow: hidden;
}
#property_categories .property_categories__card__top {
  overflow: hidden;
  border-radius: 20px;
}
#property_categories .property_categories__card__top__img {
  transition: 0.5s ease-in-out;
}
#property_categories .property_categories__card__top__img img {
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
#property_categories .property_categories__card:hover img {
  transform: scale(1.1);
}
#property_categories .property_categories__card__body__text {
  color: #0c0407;
}
#property_categories .property_categories__card__body__text h4 {
  margin-top: 10px;
  font-size: 24px;
}
#property_categories .property_categories__card__body__text p {
  margin-top: 10px;
  letter-spacing: -0.1px;
  font-size: 14px;
  color: #333333;
  line-height: 18px;
}
#property_categories .property_categories__card__body__btn {
  padding: 30px 0;
}
#choose_us {
  font-family: "Inter", sans-serif;
  margin-top: 80px;
}
#choose_us .choose_body {
  width: 540px;
  height: 450px;
}
@media (max-width: 748px) {
  #choose_us .choose_body {
    padding: 10px;
  }
}
@media (max-width: 748px) {
  #choose_us .choose_body {
    width: 340px;
    height: 250px;
  }
}
#choose_us .choose_body .choose_heading {
  margin: 20px 0 20px 0;
}
#choose_us .choose_body .choose_heading button {
  font-weight: 400;
  font-size: 14px;
}
#choose_us .choose_body .choose_title {
  margin-bottom: 100px;
}
@media (max-width: 748px) {
  #choose_us .choose_body .choose_title {
    margin-bottom: 20px;
  }
}
#choose_us .choose_body .choose_title h3 {
  font-size: 48px;
  color: #0c0407;
  font-weight: 600;
}
@media (max-width: 748px) {
  #choose_us .choose_body .choose_title h3 {
    font-size: 32px;
  }
}
#choose_us .choose_body .choose_content p {
  font-size: 14px;
  color: #333333;
  letter-spacing: -0.1px;
  line-height: 22px;
  font-weight: 400;
}
#choose_us .choose_body .choose_btn {
  margin-top: 20px;
}
#choose_us .choose_img {
  padding: 40px;
}
@media (max-width: 748px) {
  #choose_us .choose_img {
    padding: 10px;
  }
}
#choose_us .choose_img img {
  width: 540px;
  height: 450px;
  border-radius: 20px;
}
@media (max-width: 748px) {
  #choose_us .choose_img img {
    width: 340px;
    height: 250px;
  }
}

#statistics {
  font-family: "Inter", sans-serif;
  margin-top: 50px;
}
#statistics .statistics_body {
  width: 540px;
  height: 450px;
  padding: 0 35px;
}
@media (max-width: 748px) {
  #statistics .statistics_body {
    padding: 10px;
  }
}
@media (max-width: 748px) {
  #statistics .statistics_body {
    width: 340px;
    height: 250px;
  }
}
#statistics .statistics_body .statistics_heading {
  margin: 20px 0 20px 0;
}
#statistics .statistics_body .statistics_heading button {
  font-weight: 400;
  font-size: 14px;
}
@media (max-width: 748px) {
  #statistics .statistics_body .statistics_heading {
    margin-top: 100px;
  }
}
#statistics .statistics_body .statistics_title {
  margin-bottom: 10px;
}
@media (max-width: 748px) {
  #statistics .statistics_body .statistics_title {
    margin-bottom: 20px;
  }
}
#statistics .statistics_body .statistics_title h3 {
  font-size: 48px;
  color: #0c0407;
  font-weight: 600;
}
@media (max-width: 748px) {
  #statistics .statistics_body .statistics_title h3 {
    font-size: 32px;
  }
}
#statistics .statistics_body .statistics_btn {
  margin-top: 30px;
}
#statistics .statistics_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 748px) {
  #statistics .statistics_container {
    margin-top: 60px;
  }
}
#statistics .statistics_container .statistics_cards {
  width: 260px;
  height: 260px;
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
  padding: 25px;
  border-radius: 20px;
}
#statistics .statistics_container .statistics_cards h3 {
  font-size: 36px;
  color: #0c0407;
  font-weight: 600;
  margin-bottom: 20px;
}
#statistics .statistics_container .statistics_cards span {
  font-size: 14px;
  color: #333;
}
#statistics .statistics_container .statistics_cards p {
  margin-top: 25px;
  font-size: 14px;
  color: #333;
  line-height: 22px;
}

#our_process {
  font-family: "Inter", sans-serif;
  margin-top: 50px;
  padding-top: 40px;
  margin-bottom: 20px;
}
@media (max-width: 748px) {
  #our_process {
    margin-top: 20px;
  }
}
#our_process .our_process_header button {
  font-weight: 400;
  font-size: 14px;
}
#our_process .our_process_title {
  margin-top: 20px;
}
#our_process .our_process_title h3 {
  font-size: 48px;
  font-weight: 600;
  color: #0c0407;
  letter-spacing: -0.3px;
}
@media (max-width: 748px) {
  #our_process .our_process_title h3 {
    font-size: 32px;
  }
}
#our_process .our_process_body {
  width: 540px;
  height: 450px;
}
@media (max-width: 748px) {
  #our_process .our_process_body {
    padding: 20px;
  }
}
@media (max-width: 748px) {
  #our_process .our_process_body {
    width: 340px;
    height: 250px;
  }
}
#our_process .our_process_heading {
  margin: 20px 0 20px 0;
  text-align: start;
}
#our_process .our_process_heading button {
  font-weight: 400;
  font-size: 14px;
}
#our_process .our_process_step {
  margin-bottom: 100px;
  text-align: start;
}
@media (max-width: 748px) {
  #our_process .our_process_step {
    margin-bottom: 20px;
  }
}
#our_process .our_process_step h3 {
  font-size: 48px;
  color: #0c0407;
  font-weight: 600;
}
@media (max-width: 748px) {
  #our_process .our_process_step h3 {
    font-size: 32px;
  }
}
#our_process .our_process_content {
  text-align: start;
}
#our_process .our_process_content p {
  font-size: 14px;
  color: #333333;
  letter-spacing: -0.1px;
  line-height: 22px;
  font-weight: 400;
}
#our_process .our_process_img {
  padding: 40px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
@media (max-width: 748px) {
  #our_process .our_process_img {
    padding: 20px;
  }
}
#our_process .our_process_img img {
  width: 540px;
  height: 450px;
  border-radius: 20px;
}
@media (max-width: 748px) {
  #our_process .our_process_img img {
    width: 340px;
    height: 250px;
    margin-top: 100px;
  }
}
#our_process .our_process_img.active {
  opacity: 1;
  transform: translateY(0);
}

#agents {
  font-family: "Inter", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}
#agents .agents_header button {
  font-weight: 400;
  font-size: 14px;
}
#agents .agents_title {
  margin-top: 20px;
}
#agents .agents_title h3 {
  font-size: 48px;
  font-weight: 600;
  color: #0c0407;
  letter-spacing: -0.3px;
}
@media (max-width: 748px) {
  #agents .agents_title h3 {
    font-size: 32px;
  }
}
#agents .swiper {
  width: 100%;
  height: 100%;
}
#agents .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
}
@media (max-width: 748px) {
  #agents .swiper-slide {
    padding-left: 25px;
  }
}
#agents .swiper-slide .agent_img {
  overflow: hidden;
  border-radius: 20px;
}
#agents .swiper-slide .agent_img:hover img {
  transform: scale(1.1);
}
#agents .swiper-slide .agent_text {
  margin-top: 10px;
  text-align: start;
  line-height: 28px;
}
#agents .swiper-slide .agent_text h4 {
  font-size: 24px;
  color: #0c0407;
  font-weight: 500;
}
#agents .swiper-slide .agent_text p {
  font-size: 14px;
  color: #0c0407;
}
#agents .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

#testimonials {
  font-family: "Inter", sans-serif;
  margin-top: 60px;
  padding-top: 40px;
  margin-bottom: 30px;
}
#testimonials .testimonials_header button {
  font-weight: 400;
  font-size: 14px;
}
#testimonials .testimonials_title {
  margin-top: 20px;
}
#testimonials .testimonials_title h3 {
  font-size: 48px;
  font-weight: 600;
  color: #0c0407;
  letter-spacing: -0.3px;
}
@media (max-width: 748px) {
  #testimonials .testimonials_title h3 {
    font-size: 32px;
  }
}
#testimonials .testimonials_cards {
  box-shadow: 0 32px 96px -28px rgba(0, 0, 0, 0.1215686275);
  border: 0.74px solid #e8e8e8;
  border-radius: 28px;
  padding: 60px 60px 40px 60px;
  margin-top: 30px;
  width: 820px;
  height: 330px;
}
@media (max-width: 748px) {
  #testimonials .testimonials_cards {
    padding: 40px 40px 20px 40px;
  }
}
#testimonials .testimonials_cards .testimonial__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}
#testimonials .testimonials_cards .testimonial__card__content {
  color: #0c0407;
  text-align: start;
}
#testimonials .testimonials_cards .testimonial__card__content h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
@media (max-width: 748px) {
  #testimonials .testimonials_cards .testimonial__card__content h2 {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
#testimonials .testimonials_cards .testimonial__card__content p {
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 748px) {
  #testimonials .testimonials_cards .testimonial__card__content p {
    font-size: 10px;
  }
}
#testimonials .testimonials_cards .testimonial__card__content h3 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 40px;
}
@media (max-width: 748px) {
  #testimonials .testimonials_cards .testimonial__card__content h3 {
    font-size: 14px;
    margin-top: 10px;
  }
}
#testimonials .testimonials_cards .testimonial__card__content span {
  font-size: 14px;
  color: #333333;
}
@media (max-width: 748px) {
  #testimonials .testimonials_cards .testimonial__card__content span {
    font-size: 12px;
  }
}
#testimonials .testimonials_cards .testimonial__card__img img {
  border-radius: 24px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #0c0407;
}

#articles {
  font-family: "Inter", sans-serif;
  margin-top: 100px;
  padding: 20px;
  overflow: hidden;
}
#articles .articles_head {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}
@media (max-width: 748px) {
  #articles .articles_head {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
  }
}
#articles .articles_head .articles_heading h3 {
  margin-top: 20px;
  font-size: 48px;
  color: #0c0407;
  font-weight: 600;
}
@media (max-width: 748px) {
  #articles .articles_head .articles_heading h3 {
    font-size: 32px;
  }
}
#articles .articles__cards {
  margin-top: 50px;
  width: 380px;
  height: 480px;
  cursor: pointer;
  overflow: hidden;
}
#articles .articles__cards__top {
  overflow: hidden;
  border-radius: 20px;
}
#articles .articles__cards__top__img {
  transition: 0.5s ease-in-out;
}
#articles .articles__cards__top__img img {
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
#articles .articles__cards:hover img {
  transform: scale(1.1);
}
#articles .articles__cards__body__text {
  color: #0c0407;
}
#articles .articles__cards__body__text h4 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
}
#articles .articles__cards__body__text ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  margin-top: 20px;
}
#articles .articles__cards__body__text ul li {
  font-size: 14px;
  color: #333333;
  font-weight: 500;
}
#articles .articles__cards__body__text ul li i {
  font-size: 16px;
}
#articles .articles__cards__body__btn {
  padding: 30px 0;
}
#faq {
  font-family: "Inter", sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 30px;
}
#faq .faq_accordion {
  width: 800px;
  margin-left: 50px;
}
@media (max-width: 748px) {
  #faq .faq_accordion {
    width: 400px;
    margin-left: 0;
  }
}
#faq .faq_accordion__box {
  position: relative;
  margin: 10px 20px;
  border-radius: 20px;
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
@media (max-width: 748px) {
  #faq .faq_accordion__box {
    padding: 10px;
  }
}
#faq .faq_accordion__box__question {
  position: relative;
  font-size: 24px;
  color: #0c0407;
  font-weight: 600;
  padding: 10px 10px 0 10px;
}
@media (max-width: 748px) {
  #faq .faq_accordion__box__question {
    padding: 10px;
    font-size: 16px;
  }
}
#faq .faq_accordion__box__question::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
  font-weight: 200;
  transition: 0.3s ease;
}
@media (max-width: 748px) {
  #faq .faq_accordion__box__question::before {
    right: 10px;
    top: 40%;
  }
}
#faq .faq_accordion__box__answer {
  width: 80%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-in-out;
  padding: 0px 10px 10px 10px;
}
#faq .faq_accordion__box__answer p {
  color: #333;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0;
}
#faq .faq_accordion__box.active .faq_accordion__box__question::before {
  content: "-";
}
#faq .faq_accordion__box.active .faq_accordion__box__answer {
  max-height: 500px;
}
@media (max-width: 748px) {
  #faq .faq_head {
    text-align: start;
    margin: 25px;
  }
}
#faq .faq_head .faq_heading h3 {
  margin-top: 20px;
  font-size: 48px;
  font-weight: 600;
  color: #0c0407;
  letter-spacing: -0.3px;
}
@media (max-width: 748px) {
  #faq .faq_head .faq_heading h3 {
    font-size: 32px;
  }
}

#footer {
  font-family: "Inter", sans-serif;
  background-color: black;
  padding: 60px 50px 50px 50px;
  margin-top: 30px;
  overflow: hidden;
}
@media (max-width: 748px) {
  #footer {
    padding: 20px;
  }
}
#footer .contact_footer {
  padding-bottom: 20px;
}
#footer .contact_footer__head {
  padding-top: 40px;
}
#footer .contact_footer__head h3 {
  margin-top: 20px;
  font-size: 48px;
  font-weight: 600;
  color: #f7f7f7;
  letter-spacing: -0.3px;
}
@media (max-width: 748px) {
  #footer .contact_footer__head h3 {
    font-size: 32px;
  }
}
#footer .contact_footer__form {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 32px;
  padding: 30px 20px 20px 0;
}
#footer .contact_footer__form input {
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 0 12px;
  width: 100%;
  height: 38px;
}
#footer .contact_footer__btn {
  margin-top: 20px;
}
@media (max-width: 748px) {
  #footer .contact_footer_image {
    margin-top: 20px;
  }
}
#footer .footer_bottom {
  padding-top: 30px;
}
#footer .footer_bottom__left ul li p {
  letter-spacing: -0.1px;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 20px;
}
#footer .footer_bottom__left ul li button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(224, 224, 224, 0.4);
  color: #ffffff;
  text-transform: capitalize;
  padding: 16px 28px;
  margin-top: 30px;
}
#footer .footer_list {
  padding-top: 35px;
  padding-left: 20px;
}
#footer .footer_list h4 {
  color: #ffffff;
  letter-spacing: 0;
  font-size: 24px;
}
#footer .footer_list ul {
  margin-top: 20px;
}
#footer .footer_list ul li {
  line-height: 35px;
}
#footer .footer_list ul li a {
  color: #ffffff;
  letter-spacing: -0.01em;
  font-size: 14px;
  text-decoration: none;
}
#footer .copyright {
  margin-top: 20px;
  border-top: 1px solid #3b3436;
}
#footer .copyright h3 {
  margin-top: 20px;
  color: #999;
  text-align: center;
  font-size: 16px;
}

#about_banner {
  font-family: "Inter", sans-serif;
  margin-top: 60px;
}
#about_banner .about_banner_header button i {
  font-size: 20px;
}
@media (max-width: 748px) {
  #about_banner .about_banner_header button i {
    font-size: 16px;
  }
}
#about_banner .about_banner_title {
  margin-top: 10px;
}
#about_banner .about_banner_title h1 {
  font-size: 200px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0c0407;
  letter-spacing: -0.08em;
}
@media (max-width: 748px) {
  #about_banner .about_banner_title h1 {
    font-size: 60px;
  }
}
#about_banner .about_banner_img {
  margin-top: 50px;
}
#about_banner .about_banner_img img {
  border-radius: 24px;
}

#our_mission {
  font-family: "Inter", sans-serif;
  margin-top: 80px;
}
#our_mission .our_mission_body {
  width: 540px;
  height: 450px;
}
@media (max-width: 748px) {
  #our_mission .our_mission_body {
    padding: 10px;
  }
}
@media (max-width: 748px) {
  #our_mission .our_mission_body {
    width: 340px;
    height: 250px;
  }
}
#our_mission .our_mission_body .our_mission_heading {
  margin: 20px 0 20px 0;
}
#our_mission .our_mission_body .our_mission_heading button {
  font-weight: 400;
  font-size: 14px;
}
#our_mission .our_mission_body .our_mission_title {
  margin-bottom: 100px;
}
@media (max-width: 748px) {
  #our_mission .our_mission_body .our_mission_title {
    margin-bottom: 20px;
  }
}
#our_mission .our_mission_body .our_mission_title h3 {
  font-size: 48px;
  color: #0c0407;
  font-weight: 600;
}
@media (max-width: 748px) {
  #our_mission .our_mission_body .our_mission_title h3 {
    font-size: 32px;
  }
}
#our_mission .our_mission_body .our_mission_content p {
  font-size: 14px;
  color: #333333;
  letter-spacing: -0.1px;
  line-height: 22px;
  font-weight: 400;
}
#our_mission .our_mission_body .our_mission_content ul {
  margin-top: 20px;
  display: grid;
  grid-column-gap: 29px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0;
  padding-left: 25px;
}
#our_mission .our_mission_body .our_mission_content ul li {
  letter-spacing: -0.1px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  list-style: inside;
}
#our_mission .our_mission_body .our_mission_btn {
  margin-top: 40px;
}
#our_mission .our_mission_img {
  padding: 40px;
}
@media (max-width: 748px) {
  #our_mission .our_mission_img {
    padding: 10px;
  }
}
#our_mission .our_mission_img img {
  width: 540px;
  height: 450px;
  border-radius: 20px;
}
@media (max-width: 748px) {
  #our_mission .our_mission_img img {
    width: 340px;
    height: 250px;
  }
}

#our_values {
  font-family: "Inter", sans-serif;
  margin-top: 50px;
}
#our_values .our_values_body {
  width: 540px;
  height: 450px;
  padding: 0 35px;
}
@media (max-width: 748px) {
  #our_values .our_values_body {
    padding: 10px;
  }
}
@media (max-width: 748px) {
  #our_values .our_values_body {
    width: 340px;
    height: 250px;
  }
}
#our_values .our_values_body .our_values_heading {
  margin: 20px 0 20px 0;
}
#our_values .our_values_body .our_values_heading button {
  font-weight: 400;
  font-size: 14px;
}
@media (max-width: 748px) {
  #our_values .our_values_body .our_values_heading {
    margin-top: 100px;
  }
}
#our_values .our_values_body .our_values_title {
  margin-bottom: 10px;
}
@media (max-width: 748px) {
  #our_values .our_values_body .our_values_title {
    margin-bottom: 20px;
  }
}
#our_values .our_values_body .our_values_title h3 {
  font-size: 48px;
  color: #0c0407;
  font-weight: 600;
}
@media (max-width: 748px) {
  #our_values .our_values_body .our_values_title h3 {
    font-size: 32px;
  }
}
#our_values .our_values_body .our_values_content ul li {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  line-height: 28px;
  list-style: inside;
}
#our_values .our_values_body .our_values_btn {
  margin-top: 30px;
}
#our_values .our_values_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 748px) {
  #our_values .our_values_container {
    margin-top: 60px;
  }
}
#our_values .our_values_container .our_values_cards {
  width: 260px;
  height: 260px;
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
  padding: 25px;
  border-radius: 20px;
}
#our_values .our_values_container .our_values_cards i {
  font-size: 50px;
}
#our_values .our_values_container .our_values_cards h3 {
  margin-top: 20px;
  font-size: 24px;
  color: #0c0407;
  font-weight: 600;
  margin-bottom: 20px;
}
#our_values .our_values_container .our_values_cards p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  line-height: 22px;
}/*# sourceMappingURL=style.css.map */