%base_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/////// button style
%black_btn {
  display: inline-block;
  position: relative;
  background-color: $black;
  color: #ffffff;
  padding: 16px 30px;
  font-size: 16px;
  border-radius: 12px;
  font-weight: 500;
  text-decoration: none;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #333;
    z-index: 1;
    transition: 0.2s ease-in-out;
  }
  span {
    position: relative;
    z-index: 1;
  }
  &:hover {
    color: #ffffff;
  }

  &:hover::before {
    width: 100%;
  }
}
/////// button style

////// heading button
%heading_btn {
  background-color: $secondary_color;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333333;
  padding: 8px 18px 8px 16px;
  border: 2px solid #e8e8e8;
  border-radius: 35px;
  @media (max-width: 748px) {
    font-size: 12px;
    padding: 6px 16px 6px 14px;
  }
}
////// heading button

////// heading button brown
%heading_brown_btn {
  background-color: #241d1f;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: $secondary_color;
  padding: 8px 18px 8px 16px;
  border: 2px solid #1e1619;
  border-radius: 35px;
  @media (max-width: 748px) {
    font-size: 12px;
    padding: 6px 16px 6px 14px;
  }
}
////// heading button brown

////// white button
%white_btn {
  text-decoration: none;
  font-size: 14px;
  color: $primary_color;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #efefef;
  font-weight: 500;
}
%light_btn {
  background-color: $secondary_color;
  color: $primary_color;
  padding: 16px 30px;
  font-size: 16px;
  border-radius: 12px;
  font-weight: 500;
}
