#about_banner {
  font-family: $default_font;
  margin-top: 60px;
  .about_banner_header {
    button {
      @extend %heading_btn;
      i {
        font-size: 20px;
        @media (max-width: 748px) {
          font-size: 16px;
        }
      }
    }
  }
  .about_banner_title {
    margin-top: 10px;
    h1 {
      font-size: 200px;
      text-transform: uppercase;
      font-weight: 600;
      color: $primary_color;
      letter-spacing: -0.08em;
      @media (max-width: 748px) {
        font-size: 60px;
      }
    }
  }
  .about_banner_img {
    margin-top: 50px;
    img {
      border-radius: 24px;
      @extend %base_img;
    }
  }
}
